.linkBoxes {
  margin: 1rem 0;
  display: flex;
}

.linkBox {
  margin: 0 0.5rem;
  padding: 1rem;
  border: 1px solid #a1bfff;
  border-radius: 5px;
  display: inlne-block;
  background: #dce7ff;
  color: black;
  text-decoration: none;
}

.linkBox:hover {
  background: #c4d6ff;
}
